@font-face {
	font-family: 'MuseoSans';
	src: local('MuseoSansCyrl-300'),
		url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MuseoSans';
	src: local('MuseoSansCyrl-500'),
		url('../fonts/MuseoSansCyrl-500.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: 'MuseoSans', Arial, Tahoma, sans-serif;
	color: #424242;
	font-size: 15px;
	background:#ffffff;
}
h1, h2, h3, h4, h5, h6, .box-heading{
	font-weight:bold;
	color:#262626;
}
h1, .box-heading{
	margin:0px 0px 20px 0px;
	font-size:26px;
}
h2 {
	margin:0px 0px 18px 0px;
	font-size: 24px;
}
h3 {
	margin:0px 0px 16px 0px;
	font-size: 22px;
}
h4{
  margin:0px 0px 14px 0px;
	font-size:20px;
}
p {
	margin: 0px 0px 12px 0px;
}
ul, li{
  list-style-position:inside;
}

.hidden{
  display:none;
}

a {
	color: inherit;
	text-decoration: underline;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
a:hover {
	text-decoration: none;
}
a img {
	border: none;
}
input[type="text"], input[type="password"], input[type="tel"], input[type="email"], textarea, select {
	color: #808080;
	padding:10px 16px;
	font-size:14px;
	border:solid 1px #ececec;
	border-radius:3px;
	background:#ffffff;
	box-shadow:2px 2px 4px rgba(0,0,0,0.02) inset;
	font-family: 'MuseoSans', Arial, Tahoma, sans-serif;
	outline:none;
	box-sizing: border-box;  
  -moz-box-sizing: border-box;  
  -webkit-box-sizing: border-box;
}
select {
	padding: 4px 6px;
}

fieldset{
  padding:20px;
	margin-bottom:18px;
	border:solid 1px #cccccc;
}
fieldset legend{
  color:#9a9a9a;
}
.form-group{
  padding-bottom:18px;
	overflow:hidden;
}
.form-group label{
  display:block;
	font-size:14px;
  margin-bottom:4px;
	padding-top:6px;
}
.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group textarea{
  display:block;
	width:100%;
}

.form-horizontal .form-group label{
  float:left;
	width:18%;
	margin-right:1%;
	margin-bottom:0px;
}
.form-horizontal label + div{
  float:left;
	width:81%;
}

.right-left, .right-center-left{
  overflow:hidden;
	margin-left:-3%;
}
.right-left > div{
  float:left;
	width:47%;
	margin:0px 0px 3% 3%;
}
.right-center-left > div{
  float:left;
	width:30.33%;
	margin:0px 0px 3% 3%;
}

#content img, #column-left img, #column-right img, .img-responsive{
  max-width:100%;
}

.container {
  max-width: 1180px;
  min-width:280px;
	margin: 0px auto;
	padding:0px 10px;
	position:relative;
}
#column-left {
	float: left;
	width: 225px;
}
#column-right {
	float: right;
	width: 225px;
}
#content {
	min-height: 400px;
	margin-bottom: 25px;
}
#column-left + #column-right + #content, #column-left + #content {
	margin-left: 250px;
}
#column-right + #content {
	margin-right: 250px;
}

.flyblock{
  position:absolute;
	top:100%;
	min-width:100%;
	background:#fff;
	z-index:666;
	margin-top:10px;
  opacity: 0;
  visibility: hidden;
	box-shadow:0px 2px 4px rgba(0,0,0,0.16);
  -webkit-transition: opacity 0.3s, margin-top 0.3s, visibility 0s linear 0.3s;
  -moz-transition: opacity 0.3s, margin-top 0.3s, visibility 0s linear 0.3s;
  -o-transition: opacity 0.3s, margin-top 0.3s, visibility 0s linear 0.3s;
  transition: opacity 0.3s, margin-top 0.3s, visibility 0s linear 0.3s;
	box-sizing: border-box;  
  -moz-box-sizing: border-box;  
  -webkit-box-sizing: border-box;
}
.flyblock-parent:hover .flyblock{
  margin-top: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.mobile-arrow{
	min-height:50px;
	padding-left:60px;
	position:relative;
	cursor:pointer;
  display:none;
}
.mobile-arrow::before, .mobile-arrow::after{
  content:'';
	position:absolute;
	top:10px;
	left:6px;
	width:38px;
	height:6px;
	border-top:solid 6px #055187;
	border-bottom:solid 6px #055187;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
.mobile-arrow::after{
	top:34px;
	height:6px;
	border:none;
	background:#055187;
}
.mobile-arrow.krest::before, .mobile-arrow.krest::after{
	top:22px;
	height:6px;
	border:none;
	background:#055187;
	transform: rotate(-45deg);
}
.mobile-arrow.krest::after{
	transform: rotate(45deg);
}

.box .mobile-arrow::before, .box .mobile-arrow::after{
	border-top:solid 6px #3f3f3f;
	border-bottom:solid 6px #3f3f3f;
}
.box .mobile-arrow::after{
	border:none;
	background:#3f3f3f;
}
.box .mobile-arrow.krest::before, .box .mobile-arrow.krest::after{
	border:none;
	background:#3f3f3f;
}

.img-l{
	float:left;
	margin:0px 3% 6px 0px;
}
.img-r{
	float:right;
	margin:0px 0px 6px 3%;
}
.clear{
  display:block;
	width:100%;
	overflow:hidden;
}
.clear::before{
  content:'';
	display:block;
	clear:both;
}



#header-top{
	color: #555555;
	font-size:14px;
	padding:10px 0px;
  background:#fafafa;
}
#header-top .container{
	display: flex;
  justify-content: space-between;
	align-items: center;
}

#header {
	padding:20px 0px;
}
#header > .container{
	display: flex;
  justify-content: space-between;
	align-items: center;
}

#header .menu{
	display:none;
}
#header.fixed{
	position:fixed;
	left:0px; top:0px;
	width:100%;
	padding:12px 0px;
	background:#f9f9f9;
	z-index:888;
}
.fixed #slogan {
	display:none;
}
.fixed #search input {
  background: #fff;
  border: solid 1px rgba(0,0,0,0.1);
}
.fixed #search i {
	background: #fbdb32;
}
#header.fixed .menu {
	display:block;
}
.fixed .menu > li.is-submenu{
	padding:0px 6px 0px 12px;
	background:#fbdb32;
}
.fixed .menu > li > a {
  min-height:38px;
}
.fixed .menu > li.is-submenu > a::before, .fixed .menu > li.is-submenu > a::after {
  top:21px;
}
.fixed .menu > li.is-submenu a i {
  top:17px;
}


#logo, #slogan {
	overflow:hidden;
}
#logo img, #slogan img{
	float:left;
  max-width:100%;
}


.icon{
	display:block;
	padding-left:26px;
	text-decoration:none;
	position:relative;
}
.icon::after{
	content:'';
	position:absolute;
	top:0px; left:0px;
	width:20px; height:20px;
	background: url('../image/icons.png') no-repeat;
}


header .address{
	padding-left:28px;
}
header .address::after{
	top:-2px;
	width:22px;
	background-position:-100px -24px;
}

.welcome{
	padding-left:28px;
}
.welcome::after{
	top:-2px;
	background-position:-146px -24px;
}

.phones{
	display: flex;
  justify-content: space-between;
	align-items: center;
}
.phone{
	font-size:14px;
	font-weight:500;
	text-decoration:none;
	margin-right:18px;
}
.phone:last-child{
	margin-right:0px;
}
.phone::after{
	background-position:-126px 0px;
}

#header .phones {
  display:none;
}

.open::after{
	background-position:-146px 0px;
}



#cart-total{
	font-size:14px;
	padding:12px 0px 0px 60px;
	white-space:nowrap;
	cursor:pointer;
}
#cart-total b, #wishlist-total b{
	position: absolute;
	left:40px; top:0px;
	width:14px; height:14px;
	font-size:11px;
	line-height:14px;
	text-align:center;
	font-weight:500;
	border-radius:50%;
	background:#ffc000;
	z-index:20;
}
#cart-total::after{
	width:48px; height:38px;
}

#flycart {
	display:none;
	-moz-user-select: none; 
  -khtml-user-select: none; 
  user-select: none;
}
#flycart-content table{
	margin-bottom:46px;
}
#flycart-content td {
	padding: 6px 0px;
	border:none;
}
#flycart-content tr:nth-child(2n) td {
  background: none;
}

#flycart-content .price {
	text-align:right;
	font-size:16px;
	font-weight:500;
	white-space:nowrap;
}
#flycart-content .name{
	font-size:15px;
}
#flycart-content .quant {
	display: flex;
  justify-content: space-between;
	align-items: center;
}
#flycart-content .remove {
	display: flex;
  justify-content: space-between;
	align-items: center;
	float:right;
	cursor:pointer;
}

#flycart-content .ttl{
  display: flex;
  justify-content: space-between;
	align-items: center;
	margin-bottom:28px;
	padding-bottom:24px;
	font-size:16px;
	text-transform:uppercase;
	border-bottom:solid 1px rgba(0,0,0,0.2);
}
#flycart-content .btn{
	display:block;
	font-size:17px;
	font-weight:500;
	padding: 0.6em 0.1em;
}
#flycart-content .empty {
}


#wishlist-total{
	font-size:14px;
	padding:12px 0px 0px 54px;
}
#wishlist-total b{
	left:36px;
}
#wishlist-total::after{
	width:44px; height:38px;
	background-position:-52px 0px;
}



#search {
	width:100%;
	max-width:340px;
	position:relative;
}
#search i {
  position: absolute;
  right:0px; top:0px; bottom:0px;
  width:40px;
	padding:0px;
  cursor: pointer;
}
#search i::after{
  left:50%; top:50%;
	margin:-11px 0px 0px -11px;
  background-position: -99px 0px;
  width:23px; height:23px;
}
#search input {
	width:100%;
	font-size:14px;
	padding:12px 50px 12px 20px;
	background:#f5f5f5;
	border:none;
}



/* menu */
#menu-container {
	border-top:solid 1px #cccccc;
	border-bottom:solid 1px #cccccc;
}
.menu {
	list-style: none;
  display: flex;
  justify-content: space-between;
}
.menu > li > a {
  display: flex;
  justify-content: center;
	align-items: center;
	min-height:52px;
	font-size: 16px;
	font-weight:500;
	line-height: 17px;
	text-decoration: none;
	padding: 2px 2px;
	position:relative;
}
.menu > li > a:hover{
	color:#055187;
}

.menu > li.is-submenu a i{
	position:absolute;
	left:0px; top:24px;
}
.menu > li.is-submenu a i::after{
	width:16px; height:9px;
	background-position:-195px -36px;
}
.menu > li.is-submenu > a{
	padding-left:26px;
  padding-right:26px;
	color:#055187;
}
.menu > li.is-submenu > a::before, .menu > li.is-submenu > a::after {
  content:'';
	position:absolute;
	top:28px;
	right:9px;
	width:9px; height:2px;
	border-radius:1px;
	background:#024880;
	transform: rotate(45deg);
}
.menu > li.is-submenu > a::after{
	right:4px;
  transform: rotate(-45deg);
}


.submenu{
	left:0px;
}
.submenu .container{
	display: flex;
  justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	padding:20px;
}
.submenu a{
	width:100%;
	max-width:20%;
	min-width:180px;
	padding:12px;
	text-align:center;
	text-decoration:none;
	box-sizing: border-box;  
  -moz-box-sizing: border-box;  
  -webkit-box-sizing: border-box;
}
.submenu .name{
  display:block;
	min-height:38px;
	font-size:11px;
	font-weight:500;
	color:#055187;
	padding-top:8px;
	text-transform:uppercase;
}
.submenu img{
	max-width:100%;
	border:solid 1px rgba(0,0,0,0.1);
}
.submenu a:hover img{
	border:solid 1px rgba(0,0,0,0.2);
}


#mob-menu{
	list-style: none;
	display:none;
}
#mob-menu a {
  display: block;
	font-size: 16px;
	font-weight:500;
	line-height: 17px;
	text-decoration: none;
	padding: 10px 16px;
}
#mob-menu a:hover{
	color:#055187;
}
#mob-menu .cat-li{
	color:#fff;
	background:#055187;
}
#mob-menu .cat-li:hover{
	background: #0660a0;
}
#mob-menu .cat-li:hover a{
	color:#fff;
}


/* breadcrumb */
.breadcrumb {
	display: flex;
  justify-content: flex-start;
	align-items: center;
	min-height:62px;
	font-size:14px;
	color:#5a5a5a;
	padding:4px 0px;
}
.breadcrumb a{
  display:inline-block;
	vertical-align:top;
	margin-right:18px;
	color:#055187;
	position:relative;
}
.breadcrumb a::after{
  content:'/';
	position:absolute;
	top:0px;
	right:-12px;
	color:#5a5a5a;
}



/* alert */
.alert {
  padding: 8px 14px;
	font-size:12px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 20px;
}
.alert-success {
  background: #dff0d8;
  border:solid 1px #d6e9c6;
  color: #3c763d;
}
.alert-danger {
  background: #f2dede;
  border:solid 1px #ebccd1;
  color: #a94442;
}


.table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
}
.table td {
	padding: 10px 10px 9px 10px;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid rgba(0,0,0,0.08);
}
.table thead tr td, .table th{
  padding: 8px 10px 8px 10px;
  font-weight:bold;
  background:rgba(0,0,0,0.08) !important;
}
.table td.left, .table th.left{
  text-align:left;
}
.table td.center, .table th.center{
  text-align:center;
}
.table td.right, .table th.right{
  text-align:right;
}



.required label::after{
  content:' * ';
	color: #e62e2e;
	font-weight: bold;
}
.text-danger{
	color: #e62e2e;
}
.text-success{
	color: #5fbd26;
}


.product-filter {
	display: flex;
  justify-content: space-between;
	align-items: center;
	margin-bottom:28px;
	overflow: hidden;
}
#display {
	display: flex;
  justify-content: space-between;
	align-items: center;
}
#display * {
  display:block;
	width:30px;
	height:30px;
	cursor:pointer;
	background: url("../image/display.png") left top no-repeat;
}
#grid-view.active{
  background-position:left bottom;
	cursor:default;
}
#list-view {
  margin-left:8px;
  background-position:-30px 0px;
}
#list-view.active {
  background-position:-30px -30px;
	cursor:default;
}
#list-view2 {
  margin-left:8px;
  background-position:-60px 0px;
}
#list-view2.active {
  background-position:-60px -30px;
	cursor:default;
}


.product-filter .sort {
	overflow:hidden;
}
.product-filter .sort a{
  display:block;
	float:left;
	margin-right: 20px;
	font-size:14px;
	font-weight:500;
	color: #055187;
	text-decoration:none;
	border-bottom:dashed 1px #055187;
}
.product-filter .sort .active{
  border:none;
	color:#6c6c6c;
	cursor:default;
}



.pagination {
	margin-bottom: 30px;
	text-align:center;
}
.pagination li {
	display: inline-block;
	vertical-align:top;
	margin:0px 4px;
}
.pagination li a, .pagination li span {
  display:block;
  height:30px;
	width:30px;
	font-size:15px;
	font-weight:500;
	line-height:30px;
	text-align:center;
	text-decoration: none;
	position:relative;
}
.pagination .active span{
  color:#ffffff;
  background:#055187;
}
.p-last, .p-first{
  display:none !important;
}
.p-prev a, .p-next a{
  text-indent:-9000px;
}
.p-prev a::before, .p-prev a::after {
  content:'';
	position:absolute;
	top:11px;
	left:9px;
	width:9px; height:2px;
	border-radius:1px;
	background:#434343;
	transform: rotate(-45deg);
}
.p-prev a::after{
	top:16px;
  transform: rotate(45deg);
}

.p-next a::before, .p-next a::after {
  content:'';
	position:absolute;
	top:11px;
	right:9px;
	width:9px; height:2px;
	border-radius:1px;
	background:#434343;
	transform: rotate(45deg);
}
.p-next a::after{
	top:16px;
  transform: rotate(-45deg);
}



/* box */
.box-heading a{
  font-size:70%;
}
.box {
	margin-bottom: 50px;
}



/* buttons */
.btn {
	display: inline-block;
	vertical-align:top;
	font-size: 16px;
	font-weight:normal;
  text-decoration: none;
	text-align:center;
	padding:0.5em 1.6em;
	margin:0px;
  color: #262626;
	background: #ffc000;
	position:relative;
	border:solid 1px #d5a000;
	cursor: pointer;
	box-sizing: border-box;  
  -moz-box-sizing: border-box;  
  -webkit-box-sizing: border-box;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-user-select: none; 
  -khtml-user-select: none; 
  user-select: none;
}
.btn:hover{
	background: #ffcc31;
}

.btn2 {
	background: #fff;
	border:solid 1px #ffc000;
}
.btn2:hover{
	border:solid 1px #d5a000;
	background: #ffcc31;
}

.btn-default {
	color: #777;
	background: #c4c4c4;
}
.btn-default:hover{
	color: #777;
	background: #e6e6e6;
}

.btn-danger {
	background: #bd362f;
}
.btn-danger:hover{
	background: #ee5f5b;
}

.btn-info, .btn-reorder, .btn-return{
  padding:0px;
	width:32px;
	height:32px;
}
.btn-info::after, .btn-reorder::after, .btn-return::after{
  content:'';
	position:absolute;
	top:50%;
	left:50%;
	margin:-5px 0px 0px -3px;
	border:solid 6px transparent;
	border-left:solid 9px rgba(255,255,255,0.9);
}
.btn-reorder::after, .btn-return::after{
  width:22px;
	height:22px;
	margin:-11px 0px 0px -11px;
	border:none;
	background: url('../image/reorder.png') 1px 0px no-repeat;
}
.btn-return::after{
	background: url('../image/return.png') 0px 1px no-repeat;
}

.buttons{
  overflow:hidden;
	padding-top:18px;
	margin-top:18px;
	border-top:solid 1px rgba(0,0,0,0.05);
}
.pull-left{
  text-align:left;
}
.pull-right{
  text-align:right;
}
.pull-center{
  text-align:center;
}


.category-info {
	overflow: hidden;
	margin-bottom:32px;
}
.category-info .image {
	float: left;
	margin:0px 20px 4px 0px;
}


.category-list{
  margin-bottom:18px;
	overflow:hidden;
}
.category-list a{
	display:inline-block;
	vertical-align:top;
	font-size:13px;
	color:#775f00;
	padding:7px 16px 6px 16px;
	margin:0px 1.2% 6px 0px;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	border-radius:18px;
	white-space:nowrap;
	background:#f5d500;
}
.category-list a:hover{
	background:#ffde00;
}


#adv-search > div{
  display:inline-block;
	vertical-align:middle;
	margin:2px 20px 16px 0px;
}
#adv-search > div:last-child{
  margin-right:0px;
}
#adv-search > div label{
  display:block;
}


/* box category */
ul.box-category {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.box-category > li {
}
ul.box-category > li + li a {
	border-top: 1px solid rgba(0,0,0,0.05);
}
ul.box-category > li > a {
  display:block;
	font-size:16px;
	font-weight:500;
	/*color:#ffffff;*/
	padding: 8px 2px 8px 2px;
	text-decoration: none;
}
ul.box-category a:hover, ul.box-category a.active{
	color:#d03214;
}
ul.box-category > li ul {
  list-style: none;
	margin: 0px;
	padding:6px 0px;
}
ul.box-category > li ul > li {
  margin:0px 0px 0px 22px;
}
ul.box-category > li ul > li > a {
	display: block;
	color:#646464;
	text-decoration: none;
	padding: 4px 2px 4px 0px;
}




/* manufacturer */
.manufacturer-list {
	overflow: hidden;
	margin-bottom: 12px;
}
.manufacturer-heading {
  float:left;
	width:60px;
	height:60px;
	line-height:60px;
	text-transform:uppercase;
	background:rgba(0,0,0,0.05);
	color:#bababa;
	font-size: 60px;
	font-weight: bold;
	text-align:center;
}
.manufacturer-content {
  margin:0px 0px 3px 70px;
	padding:8px;
	overflow:hidden;
	background:rgba(0,0,0,0.03);
}
.manufacturer-list .image {
  display:block;
	float: left;
	margin-right: 20px;
}
.manufacturer-list .name {
  display:block;
	font-size:17px;
	text-transform:uppercase;
	margin-bottom:5px;
	font-weight:bold;
}





/* product */
.price-old {
	font-size:80%;
	text-decoration: line-through;
}
.price-new {
	color:#e73840;
}


.product-grid {
	display: flex;
  justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	margin-left:-1%;
	padding-bottom:32px;
}
.product-grid > div {
	width:19%;
	margin:0px 0px 1% 1%;
}
.product-grid4 > div {
	width:24%;
}
.product {
	padding:18px 18px 0px 18px;
	background:#ffffff;
	text-align:center;
	border:solid 1px rgba(0,0,0,0.2);
	position:relative;
	box-sizing: border-box;  
  -moz-box-sizing: border-box;  
  -webkit-box-sizing: border-box;
}
.product-grid .description {
	display:none;
}
.product .image img{
	max-width:100%;
}
.product h4 {
	min-height:48px;
	font-size:16px;
	line-height:18px;
	font-weight:normal;
	margin:8px 0px 2px 0px;
}
.product h4 a{
	text-decoration:none;
}
.product h4 a:hover{
	color:#055187;
}
.product .price{
	font-size:24px;
	font-weight:500;
	color:#262626;
	text-align:left;
}
.product .price-old {
	display:block;
	font-size:13px;
	line-height:11px;
	font-weight:normal;
}
.product .cart{
	display: flex;
  justify-content: space-between;
	align-items: center;
	height:52px;
}

.incart{
	padding-left:0px;
	width:36px; height:28px;
	cursor:pointer;
}
.incart::after{
	width:100%; height:100%;
	background-position: -195px 0px;
}

.product .compare, .product .wishlist{
	width:20px; height:20px;
	padding:0px;
	cursor:pointer;
	position:absolute;
	top:14px; right:14px
}
.product .wishlist{
	right:42px
}
.compare::after{
	top:4px; left:2px;
	width:15px; height:12px;
	background-position: -174px -24px;
	opacity:0.8;
}
.wishlist::after{
	top:4px; left:3px;
	width:14px; height:13px;
	background-position: -174px 0px;
	opacity:0.8;
}
.compare:hover::after,.wishlist:hover::after{
	opacity:1;
}
.compare span, .wishlist span{
  position:absolute;
	left:50%;
	bottom:120%;
	margin:0px 0px 0px -36px;
	color:#fff;
	font-size:10px;
	text-align:center;
	width:64px;
	padding:2px 4px;
	border-radius:3px;
	background:rgba(0,0,0,0.7);
	display:none;
}
.compare span::before, .wishlist span::before{
  content:'';
	position:absolute;
	left:50%;
	margin-left:-3px;
	bottom:-6px;
	border:solid 3px transparent;
	border-top:solid 3px rgba(0,0,0,0.7);
}
.compare:hover span, .wishlist:hover span{
  display:block;
	z-index:66;
}

.quickview{
	left:0px; right:0px; top:25%;
	text-align:center;
	box-shadow:none;
	background:none;
}
.quickview span{
	display:inline-block;
	padding:12px 22px;
	background:rgba(232,232,232,0.9);
	cursor:pointer;
}
.quickview span:hover{
	background:rgba(232,232,232,1);
}

.more{
	left:-1px; right:-1px;
	padding:4px 18px 16px 18px;
	background:#ffffff;
	text-align:center;
	border:solid 1px rgba(0,0,0,0.3);
	border-top:none;
	box-shadow:none;
	z-index:66;
}
.more::after{
	content:'';
	position:absolute;
	left:0px; right:0px; top:-1px;
	height:3px;
	background:#fff;
}
.more .btn{
	display:block;
}

.product .stock{
	display:inline-block;
	padding-left:28px;
	margin:0px;
	font-size:14px;
}
.product .nostock::before, .product .instock::before{
	display:none;
}
.product .instock::after{
	border-left:solid 2px #2d982d;
	border-bottom:solid 2px #2d982d;
}
.product .nostock::after{
	border-left:solid 2px #cf3d3d;
	border-bottom:solid 2px #cf3d3d;
}


.product:hover{
	border:solid 1px rgba(0,0,0,0.3);
}



.product-list{
	padding-bottom:32px;
}
.product-list > div {
	margin-top:-1px;
	padding-bottom:12px;
	text-align:left;
}
.product-list > div::after{
	content:'';
	display:block;
	clear:both;
}
.product-list .image {
	float: left;
	width:18%;
	margin-right:2%;
}
.product-list h4 {
	min-height:26px;
	margin-bottom:4px;
	font-size:16px;
}
.product-list .description {
  font-size:13px;
	min-height:80px;
}
.product-list .stock {
	float:left;
}
.product-list .cart {
	min-width:220px;
	height:40px;
	float:right;
}


.product-list2{
	padding-bottom:32px;
}
.product-list2 > div {
	display: flex;
  justify-content: space-between;
	align-items: center;
	margin-top:-1px;
	padding:10px 12px;
	text-align:left;
}
.product-list2 .compare, .product-list2 .wishlist,
.product-list2 .description,
.product-list2 .image{
	display:none;
}
.product-list2 h4 {
	width:65%;
	min-height: 18px;
  margin: 0px;
}
.product-list2 .cart {
	width:100%;
	max-width:200px;
	height:32px;
}



.box .product-grid {
	padding-bottom:0px;
}





#column-left .product-grid, #column-right .product-grid {
  margin:0px;
}
#column-left .product-grid > div, #column-right .product-grid > div {
  margin:0px;
	width:100%;
}
#column-left .product-grid > div + div, #column-right .product-grid > div + div{
  margin-top:10px;
}



#column-left + #content .product-grid > div,
#column-right + #content .product-grid > div {
	width:24%;
}



.wishlist-remove{
	width:20px;
	height:20px;
  position:absolute;
	top:10px;
	right:10px;
	background: url('../image/remove.png') center center no-repeat;
}




/* Product *******************************************/
#product {
	display: flex;
  justify-content: flex-start;
	align-items: stretch;
	margin-bottom:3%;
}
#product-left {
	width:40%;
	margin-right:6%;
}
#product-right {
  width:54%;
}
#product-right .right{
	float:right;
	max-width:25%;
	padding-top:6px;
	font-size:14px;
}
#product-right .right + *{
	margin-right:26%;
}

.stock{
	padding-left:34px;
	margin:20px 0px;
	position:relative;
}
.nostock{
  color:#cf3d3d;
}
.instock{
  color:#3d9301;
}
.nostock::before, .instock::before{
	content:'';
	position:absolute;
	left:0px; top:-4px;
	width:24px; height:24px;
	border-radius:50%;
	background:#cf3d3d;
}
.instock::before{
	background:#3d9301;
}
.nostock::after, .instock::after{
	content:'';
	position:absolute;
	left:5px; top:3px;
	width:12px; height:5px;
	border-left:solid 2px #fff;
	border-bottom:solid 2px #fff;
	transform: rotate(-45deg);
}


#product .image{
  overflow:hidden;
	text-align:center;
}
#product-left a img{
  float: left;
  border:solid 1px rgba(0,0,0,0.2);
	max-width:100%;
	box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#product-left a img:hover{
  border:solid 1px rgba(0,0,0,0.3);
}
.image-additional {
	margin:0px 0px 30px -3%;
	overflow:hidden;
}
.image-additional a{
  display:block;
	float: left;
	overflow:hidden;
	width:17%;
	margin: 3% 0px 0px 3%;
}

.product-properties{
  margin-bottom:30px;
}
.product-properties > div{
  font-size:16px;
	padding:10px 0px;
}

.box.description{
	font-size:16px;
}


#product .price {
	font-size:48px;
	font-weight:500;
	color:#262626;
	margin-bottom:24px;
}
#product .discounts{
	padding-top:8px;
	font-size:14px;
	font-weight:normal;
}
#product .discounts > div{
	padding-top:4px;
}


.options {
	padding: 16px 0px;
	margin-bottom:26px;
	border-top:solid 6px rgba(0,0,0,0.05);
	border-bottom:solid 6px rgba(0,0,0,0.05);
}
.option + .option{
  margin-top:10px;
	padding-top:10px;
	border-top:solid 2px rgba(0,0,0,0.05);
}
.option b{
  display:block;
	font-size:13px;
	padding-bottom:8px;
}
.option .req:after {
	content: ' *';
	color: #F00;
}
.option label input{
  display:none;
}
.option label{
  display:inline-block;
	vertical-align:top;
	margin:0px 8px 8px 0px;
	border-radius:2px;
	cursor:pointer;
}
.option label > span{
  display:block;
	padding:4px 8px 5px 8px;
	font-size:13px;
	text-align:center;
	overflow:hidden;
	border:solid 2px rgba(0,0,0,0.1);
}
.option label img + span{
  display:block;
	text-align:center;
	font-size:10px;
}
.option label input:checked + span{
  border:solid 2px rgba(0,0,0,0.6);
}


#product .compare, #product .wishlist{
	display:inline-block;
	vertical-align:top;
	font-size:13px;
	margin:0px 4% 22px 0px;
	cursor:pointer;
}
#product .compare{
	margin-right:0px;
}
.compare::after{
	top:1px; left:0px;
}
.wishlist::after{
	top:1px; left:0px;
}


#product .minimum{
  display:block;
}

div.quantity{
	display: flex;
  justify-content: space-between;
	align-items: center;
	width:100%;
	max-width:120px;
	background:#f4f4f4;
}
div.quantity input{
  text-align:center;
	font-size:16px;
	width:34px;
	padding:9px 0px;
	background:none;
	border:none;
}
.qu-plus, .qu-minus{
	display:block;
	width:30px;
	height:30px;
	position:relative;
	cursor:pointer;
}
.qu-plus::before, .qu-minus::before{
	content:'';
	position:absolute;
	left:9px; right:9px; top:50%;
	height:2px;
	margin-top:-1px;
	background:#7b7b7b;
}
.qu-plus::after{
	content:'';
	position:absolute;
	top:9px; bottom:9px; left:50%;
	width:2px;
	margin-left:-1px;
	background:#7b7b7b;
}


#product .cart {
	display: flex;
  justify-content: space-between;
	align-items: center;
	max-width:560px;
	margin-bottom:30px;
}
#product .cart .btn{
	width:100%;
	max-width:186px;
	padding-left:4px; padding-right:4px;
}
#button-cart{
	font-size:16px;
	font-weight:500;
}
.fastorder{
	font-size:16px;
}


#product .review{
  display:inline-block;
	vertical-align:top;
	font-size:12px;
	color:#e5b304;
	margin-bottom:8px;
}
#product .review > * {
	display:inline-block;
	vertical-align:top;
}


.rating{
	overflow:hidden;
	white-space:nowrap;
}
.rating *{
	display:block;
	float:left;
	width:16px; height:16px;
	background: url('../image/star1.png') no-repeat;
	background-size:cover;
}
.rating i{
	background: url('../image/star0.png') no-repeat;
	background-size:cover;
}


#reviews-box{
  margin:40px 0px 30px 0px;
	overflow:hidden;
}
#reviews{
  float:left;
	width:62%;
	margin:0px;
}
.review-item {
	padding:10px 0px;
}
.review-item .author {
  font-size:16px;
	font-weight:bold;
}
.review-item .date {
  display:inline-block;
  font-size:11px;
	font-weight:normal;
	color:#ffffff;
	padding:2px 8px;
	border-radius:18px;
	background:rgba(0,0,0,0.2);
	margin-left:8px;
}
.review-item .rating {
	float: right;
	margin-top:4px;
}
.review-item .text {
  padding:16px 20px;
	margin-top:13px;
	background:#ffffff;
	border-radius:18px;
	font-size:13px;
	line-height:140%;
	font-style:italic;
	position:relative;
	border: 1px solid rgba(0,0,0,0.1);
}
.review-item .text::before {
  content: '';
	display:block;
  position: absolute;
  left: 18px; top: -18px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 9px solid transparent;
	border-bottom: 9px solid rgba(0,0,0,0.1);;
}
.review-item .text::after {
  content: '';
	display:block;
  position: absolute;
  left: 18px; top: -16px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 9px solid transparent;
	border-bottom: 9px solid #ffffff;
}
#form-review {
  float:right;
	text-align:center;
	width:35%;
  padding:20px 2.5%;
	border-radius:24px;
	border:solid 6px rgba(0,0,0,0.05);
	box-sizing: border-box;  
  -moz-box-sizing: border-box;  
  -webkit-box-sizing: border-box;
}
#form-review input, #form-review textarea{
  text-align:left;
}


.rating-stars {
	display: flex;
  justify-content: space-around;
	align-items: center;
	margin-left: auto;
	margin-right:auto;
	max-width:320px;
}
.rating-stars input[type="radio"]{
  display:none;
}
.rating-stars label{
	width:24px; height:24px;
	cursor:pointer;
}
.rating-stars label:hover + input + label,
.rating-stars label:hover + input + label + input + label,
.rating-stars label:hover + input + label + input + label + input + label,
.rating-stars label:hover + input + label + input + label + input + label + input + label,
.rating-stars input:checked + label + input + label,
.rating-stars input:checked + label + input + label + input + label,
.rating-stars input:checked + label + input + label + input + label + input + label,
.rating-stars input:checked + label + input + label + input + label + input + label + input + label{
  background: url('../image/star0.png') center center no-repeat;
	background-size:cover;
}


.htabs{
	margin-bottom:22px;
	border-bottom:solid 1px #c4c4c4;
}
.htabs a{
	display:inline-block !important;
	padding-bottom:8px;
	margin-right:1.4%;
	text-decoration:none;
	border-bottom:solid 4px #fff;
}
.htabs a.selected{
	font-weight:500;
	border-bottom:solid 4px #ffc000;
}
.tab-content{}



#success{
	text-align:center;
	padding-top:146px;
	font-size:16px;
	background:url('../image/success.png') center top no-repeat;
}
#success .title{
	font-size:34px;
	font-weight:600;
	margin-bottom:14px;
}



address{
  font-style:normal;
}
#contacts .left-content > div{
  font-size:16px;
	margin-bottom:18px;
}



#sitemap ul ul{
  margin:10px 0px 12px 10px;
}




/* news */
.blog_item, .blog_item:hover {
	padding:0px;
	text-align:left;
	border:none;
}
.blog_item .date{
	color:#999999;
	font-size:13px;
}
.blog_item h4{
	margin:0px;
}
#news-box .image, #news-list > div .image, #news-item .image{
  float:left;
	margin-right:14px;
}


#successmsg{
	margin-bottom:12px;
	font-size:16px;
}
#newsletterModule-footer{
	margin-bottom:16px;
}
#newsletterModule-footer .content{
	display: flex;
  justify-content: space-between;
	align-items: stretch;
	max-width:100%;
}
#newsletterModule-footer .content input{
	width:68%;
	padding:8px 10px;
}
#newsletterModule-footer .btn{
	width:32%;
	font-size:14px;
	padding:10px 0px;
}


.coolblocks .content{
  display: flex;
  justify-content: space-between;
}
.coolblocks .content > *{
	width:100%;
	max-width:220px;
}
.coolblocks .content span{
	display:block;
}
.coolblocks .image{
	float:left;
	max-width:26%;
}
.coolblocks .image img{
	max-width:100%;
}
.coolblocks .image + *,
.coolblocks .image + * + *{
	margin-left:27%;
}


#categories-box h4{
	font-size:16px;
	text-transform:uppercase;
	margin-top:12px;
	color:#055187;
}
#categories-box .product, #categories-box .product:hover{
	border:none;
}
#categories-box .image img{
	border:solid 1px rgba(0,0,0,0.1);
}
#categories-box .product:hover img{
	border:solid 1px rgba(0,0,0,0.2);
}


#scrollup{
	padding:20px;
	font-size:17px;
	font-weight:500;
	color:#fff;
	text-align:center;
	background:#055187;
	cursor:pointer;
}
#scrollup span::after{
	content:'';
	border:solid 8px transparent;
	border-bottom:solid 8px #fff;
	margin-left: 10px;
	position:relative;
	top:-12px;
}
#scrollup:hover{
	background:#0660a0;
}


/* footer */
footer {
	clear:both;
}
#footer {
	padding: 36px 0px 28px 0px;
}
#footer .container{
  display: flex;
  justify-content: space-between;
}
#footer .container > div{
	margin-bottom:12px;
	width:100%;
	max-width:280px;
}
#footer #footer-contacts{
	max-width:340px;
}
#footer .title {
	min-height:40px;
	font-size:16px;
	font-weight:500;
	color:#262626;
}
#footer-contacts{
	max-width:340px;
}
#footer li {
  font-size:15px;
  margin-bottom:14px;
	list-style:none;
}
#footer li a{
	text-decoration:none;
}
#footer li a:hover{
	color:#055187;
}
#footer .contact {
	margin-bottom:4px;
}


#footer2{
	font-size:13px;
	padding:10px 0px;
	border-top:solid 1px #e8e8e8;
	overflow:hidden;
}
#footer2 .container, #paymnts{
  display: flex;
  justify-content: space-between;
	align-items: center;
}
#copy{
	color:#777777;
}



.x {
	display:inline-block;
	width:26px; height:26px;
	opacity:0.6;
	position:relative;
	cursor:pointer;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
.x::before, .x::after{
	content:'';
	position:absolute;
	top:50%; left:50%;
	width:18px; height:2px;
	margin:-1px 0px 0px -9px;
	background:#df0904;
	transform: rotate(45deg);
}
.x::after{
	transform: rotate(-45deg);
}
.x:hover{
	opacity:0.8;
}



.elem {
	margin-bottom: 16px;
	overflow:hidden;
}
.sbmt{
  padding-top:6px;
	text-align:center;
}
.elem input, .elem textarea  {
	width: 100%;
}
form .title, #fastblock .title{
	margin-bottom:26px;
	font-size:20px;
	font-weight:500;
	text-transform:uppercase;
	text-align:center;
}
#fastblock i.close {
  position:absolute;
	top:6px; right:6px;
}
#fastblock i.close::before, #fastblock i.close::after{
	background:#000;
}
#fastblock span.close {
	display:block;
	margin-right:8px;
	font-size:16px;
	border-bottom:dotted 1px;
	cursor:pointer;
}
.close_loading{
	position:relative;
}
.close_loading::after{
	content:'';
	position:absolute;
	top:0px; right:0px; bottom:0px; left:0px;
  background:#fff url('../image/loading.gif') center center no-repeat;
	opacity:0.8;
}
.fastblock-success{
  text-align:center;
	font-size:16px;
	font-weight:bold;
	color:#75ba42;
}
.requir-bg-red{
	border:solid 1px #ffbebe !important;
}
#overlay {position:fixed; width:100%; height:100%; opacity:0.6; background:#000; top:0; left:0; z-index:999; display:none;}
#loading {position:fixed; width:140px; height:140px; top:50%; left:50%; z-index:1000; margin:-70px 0 0 -70px; display:none; background: rgba(255,255,255,0.3) url('../image/loading-big.gif') center center no-repeat; border-radius:50%;}

#fastblock {
	display: flex;
  justify-content: center;
	align-items: center;
	position:absolute;
	left:0px; right:0px;
	height:100%;
	text-align:center;
	z-index:1020;
	display:none;
}
#fastblock > div{
  text-align:left;
	width:100%;
	max-width:600px;
	background:#FFF;
  padding:3%;
	margin-top:-80px;
	border-radius:4px;
	box-shadow: 0px 0px 50px rgba(0,0,0,0.2);
	position:relative;
	box-sizing: border-box;  
  -moz-box-sizing: border-box;  
  -webkit-box-sizing: border-box;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

#fastblock > div.right{
	position:absolute;
	top:0px !important; right:0px;
	max-width:500px;
	border-radius:0px;
}
#fastblock > div.right::before{
	content:'';
	position:absolute;
	left:0px; right:0px; bottom:100%;
	height:3000px;
	background:#fff;
}
#fastblock > div.right::after{
	content:'';
	position:absolute;
	left:0px; right:0px; top:100%;
	height:3000px;
	background:#fff;
}


.privacy-policy{
	display:block;
	margin-top:12px;
	cursor:pointer;
}
.privacy-policy input{
	display:none;
}
.privacy-policy span{
  display:block;
	padding-left:24px;
	font-size:11px;
	color:#999999;
	position:relative;
}
.privacy-policy span::before{
	content:'';
	position:absolute;
	top:-2px; left:0px;
	width:14px; height:14px;
	border-radius:3px;
	border:solid 1px #bbbbbb;
}
.privacy-policy input:checked + span::after{
	content:'';
	position:absolute;
	left:4px; top:2px;
	width:8px; height:4px;
	border-left:solid 1px #bbbbbb;
	border-bottom:solid 1px #bbbbbb;
	transform: rotate(-45deg);
}




@media screen and (max-width:1020px) {

.product-grid > div {
	width:24%;
}
#column-left + #content .product-grid > div,
#column-right + #content .product-grid > div {
	width:32.33%;
}


#footer .container > div {
  max-width: 180px;
}

}
@media screen and (max-width:840px) {
.address {
	display:none;
}

.breadcrumb {
  display:block;
  min-height:10px;
	font-size: 12px;
	padding:12px 0px;
}

#header.fixed #logo{
	display:none;
}


.product-grid > div {
	width:32.33%;
}

#column-left + #content .product-grid > div,
#column-right + #content .product-grid > div {
	width:49%;
}



#product {
	flex-wrap: wrap;
}
#product-left {
	width:100%;
	margin:0px 0px 20px 0px;
}
#product-right {
  width:100%;
}


#product .cart {
 flex-wrap: wrap;
 justify-content: space-around;
}
#product .cart > *{
	margin-bottom:10px;
}
#product .cart .quantity{
	width:38%;
	margin-right:0px;
}
#product #button-cart {
	width:60%;
	margin-right:0px;
}


.coolblocks .content {
  flex-wrap: wrap;
}
.coolblocks .content > * {
  max-width: 820px;
}


#footer .container{
  flex-wrap: wrap;
}
#footer .container > div {
	width:50%;
  max-width: 620px;
}
}

@media screen and (max-width:680px) {
#header-top {
  font-size: 12px;
}
#header-top .phones {
  display:none;
}
#header:not(.fixed) .phones {
  display:flex;
	justify-content: space-around;
	width:100%;
	padding:20px 0px;
}
#header .phone {
  margin-right:2px;
}

#header:not(.fixed) .container{
	justify-content: space-around;
	flex-wrap: wrap;
}
#logo {
	width:27%;
	margin-right:3%;
}
#slogan {
	width:70%;
}
#search{
	width:100%;
	max-width:800px;
	margin-bottom:18px;
}


.fixed #search {
	display:none;
}


#header:not(.fixed) #wishlist-total{
	margin-left:60px;
}
#menu-container .mobile-arrow{
	position:absolute;
	left:10px; top:-56px;
}

.menu {
	display:none;
}


.submenu a {
  width:33.33%;
  max-width:33.33%;
  min-width:80px;
  padding:8px;
}


.fixed .menu > li.is-submenu > a{
	font-size:0px;
	padding-right:0px;
	padding-left:32px;
}
.fixed .menu > li.is-submenu a i {
  left:5px;
}
.fixed .menu > li.is-submenu > a::before, .fixed .menu > li.is-submenu > a::after {
	display:none;
}

#wishlist-total{
	text-indent:-1000px;
}
#wishlist-total b{
	text-indent:0px;
}




.mobile-arrow{
  display:block;
}
.box .mobile-arrow{
	display: flex;
	align-items: center;
}



.flyblock, .flyblock-parent:hover .flyblock{
	display:none;
}



.product-grid > div {
	width:49% !important;
}


#product-right .right {
  float:none;
  max-width:100%;
  padding-top:0px;
	margin-bottom:8px;
}
#product-right .right + * {
  margin-right:0px;
}


.bus, .car {
	display:none;
}



.right-left, .right-center-left{
	margin-left:0px !important;
}
.right-left > *, .right-center-left > *{
  float:none;
	width:100% !important;
	margin:0px 0px 3% 0px !important;
}



#footer .container{
  display:block;
}
#footer .container > div {
	width:100%;
  max-width: 620px;
}



#column-left, #column-right {
	float: none;
	width: 100%;
	margin-bottom:20px;
}
#column-right + #content, #column-left + #content {
	margin-left: 0px;
}
}

@media screen and (max-width:440px) {
h1, .box-heading{
	margin:0px 0px 14px 0px;
	font-size:19px;
}
h2 {
	margin:0px 0px 12px 0px;
	font-size: 18px;
}
h3 {
	margin:0px 0px 10px 0px;
	font-size: 17px;
}
h4{
  margin:0px 0px 8px 0px;
	font-size:16px;
}

.phone {
	padding-left:0px;
}
.phone::after{
	display:none;
}

.table td,
.table thead tr td, .table th{
  padding:6px 1px 5px 1px;
}

.product-grid > div {
	width:99% !important;
}

.form-horizontal .form-group label{
  float:none;
	width:100%;
	margin:0px 0px 8px 0px;
}
.form-horizontal label + div{
  float:none;
	width:100%;
}

#fastblock > div{
	padding-left:8px;
	padding-right:8px;
}

#flycart-content .name{
	font-size:13px;
}

}



.category_map {
  border: 1px solid #f3f3f3;
  margin-bottom: 30px;
	padding: 2.6% 1% 1.4% 2.4%;
  min-height: 360px;
	position: relative;
	background: linear-gradient(to bottom, #ffffff 0%, #fdfdfd 50%, #f1f1f1 100%);
	box-sizing: border-box;  
  -moz-box-sizing: border-box;  
  -webkit-box-sizing: border-box;
}
.category_map h4{
	position:relative;
	z-index:20;
}
#category_list {
	position:relative;
  z-index:20;
  max-width: 320px;
}
.category_map ul {
  margin: 0;
  padding: 0;
	list-style: none;
}
.category_map a {
  text-decoration: none;
  font-size: 14px;
  color: #595959;
  display: block;
  padding: 2px 0 2px 14px;
	position:relative;
}
.category_map li.active a, .category_map li:hover a {
  color: #1b1b1b;
}
.category_map li.active a::after, .category_map li:hover a::after{
	content:'';
	position:absolute;
	top:5px; left:0px;
	border:solid 4px transparent;
	border-left:solid 5px #0d63a3;
}
.bus, .car {
    width:100%;
    position: absolute;
    bottom:0px; left:0px;
		z-index: 1;
}
.bus img, .car img {
    position: absolute;
		bottom:0px; right:0px;
    z-index: 1;
}
